<config>
  <!-- Client Control -->
  <fold-anon v='true'/>

  <!-- Folding Slot Configuration -->
  <client-type v='advanced'/>

  <!-- <gpu v='true'/> -->

  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <user v='FoldingAtHomeContainer'/>

  <!-- Work Unit Control -->
  <next-unit-percentage v='90'/>

  <!-- Folding Slots -->
  <slot id='0' type='GPU'/>
  <slot id='1' type='CPU'/>
</config>
